# Installation user = Linux user
INSTALL_USER=cameo

# To override these values, set the shell environment variables.
# Note: Wildcard (*) cannot be used for JUPYTERHUB_VERSION.
JUPYTERHUB_VERSION=1.2.2
JUPYTERLAB_VERSION=2.2
NOTEBOOK_VERSION=6.1

SITE_DOMAIN=cameo.tw
DEFAULT_GIT_USER_EMAIL=ycchang.pmp@cameo.tw
DEFAULT_GIT_USER_NAME=austinyuch

# JupyterHub PostGRESQL version
POSTGRES_VERSION=12.5
POSTGRES_HOST=localhost:5432
POSTGRES_PASSWORD=Q1w2e3r4
POSTGRES_DB=jupyterhub
JPY_PSQL_PASSWORD=Q1w2e3r4

PGDATA=/var/lib/postgresql/data/jupyterhub
